* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* Start coding here */

  @media (max-width: 844px) {
    .row-1,
    .row-2 {
      flex-direction: column;
      align-items: center;
    }
    .job-item {
      width: 90%;
    }
    .topic h1 {
      font-size: 30px;
    }
  }
  @media (max-width: 390px) {
    .topic h1 {
      font-size: 30px;
    }
  
    .job-item {
      width: 90%;
    }
    .icon {
      width: 60px;
      height: 60px;
    }
  
    .icon img {
      width: 40%;
    }
    .job-more{
      width: 90%;
    }
    .arrow{
      left: 350px;
  }
}


